.footer {
  grid-area: footer;
  height: auto;
  &__links {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    a {
      transition: all 0.4s;
    }
    a:active {
      .cube {
        transform: scale(1.1);
        transition: all 0.4s;
      }
    }
  }
  &__ending {
    grid-area: ending;
    border-top: 1px solid $main-shade60;
    padding: 0.5rem;
    transition: all 0.4s;
    font-size: max(1.4rem, calc($cta-height * 0.5));

    a:link,
    a:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
    }
    .arrow-top-hidden {
      transform: translateY(0);
      transition: all 0.4s;
    }
  }
  &__wrapper {
    @include flex(center, space-between, row);
    div {
      height: calc(($cta-height + 2rem));
      @include flex;
      span {
        display: block;
      }
    }
  }
}
.scroll--top div {
  @include flex(center, center, row);
}
