$text: #565656;
$main-shade70: #212749;
$main-shade60: #2c3461;
$text-colored-shade: #102bb4;
$main-color: #6d83f2;
$main-tint10: #7c8ff3;
$main-tint30: #99a8f6;
$main-tint60: #c5cdfa;
$main-tint80: #e2e6fc;
$main-tint90: #f0f3fe;

$white: #fff;
$error: rgba(255, 0, 0);
$shadow: rgba(33, 39, 73, 0.1);
$fil-white: rgba(255, 255, 255, 0.3);

$back-color: var(--background-color-theme-1);

$hero-height: var(--hero-height);
$width-1: 480px;
$width-2: 768px;
$width-3: 1024px;
$cta-height: 3vh;

$link-height: 1.6rem;
$menu-height: 8vh;
